body{
    padding:0;
    margin:0;
}
.menu_top{
	font: 13px/27px Arial,sans-serif;
	color:#3366CC;
}
.menu_top a:hover{

}
.menu_top a {
	text-decoration: none;
	padding: 4px 8px 7px;
	color:#00C500;
	outline:none;
}
.menu_top ul{
	list-style: none;
	margin:0;
	float: left;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.menu_top ul li{
	padding:0;
	float: right;
    
}
.menu_top ul li ul li{
	padding:0;
	float:none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}
.menu_top ul li ul{
	position: absolute;
	border: 1px solid #C3D1EC;
	box-shadow: 0 1px 5px #CCCCCC;
	margin-top: -1px;
	display:none;
	padding-top: 0px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 0;
	background-color: #090;
}
.active ul{
    display:block !important; 
}
.active a{
    background-color: white;
    border: 1px solid #C3D1EC;
    border-bottom: 0;
    box-shadow: 0 -1px 5px #CCCCCC;
    display: block;
    height: 29px;
    padding: 0 8px 0 8px;
    position:relative;
    z-index: 1;
}
.active a:hover{
    background-color:white;
}
.active ul a:hover{
    background-color:#e4ebf8;
}

.active ul a{
    border: 0 !important;
    box-shadow: 0 0 0 #CCCCCC;
    border:0;
    width: 100%;
}
.arrow {
    border-color: #3366CC transparent transparent;
    border-style: solid dashed dashed;
    margin-left: 5px;
    position: relative;
    top: 10px;
}
